body{
    font-family:  'Kanit',sans-serif;
    background: #FFB141;
}

.App{
    margin-top: 8%;
    margin-bottom: auto;
}

.question{
    text-align: center;
    font-size: 5rem;
    margin: 0;
}

.answer{
    text-align: center;
    font-size: 10rem;
    margin: 0;
}